[Unit]
Description=Auto Git Pull Service
After=network.target

[Service]
ExecStart=/home/ubuntu/sampler_infinite-frontend/git-auto-pull.sh
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/sampler_infinite-frontend
StandardOutput=append:/var/log/git-auto-pull.log
StandardError=append:/var/log/git-auto-pull.log

[Install]
WantedBy=multi.user.target