[Unit]
Description=Auto Git Pull Service
After=network.target

[Service]
ExecStart=/home/ubuntu/sampler_infinite-frontend/git-auto-pull.sh
User=ubuntu
WorkingDirectory=/home/ubuntu/sampler_infinite-frontend
Environment="PATH=/usr/bin:/usr/local/bin:/bin"
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target