.audio-button {
  background-color: hsl(116, 100%, 50%);
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.audio-button:hover {
  background-color: #45a049;
}

@font-face {
  font-family: "MyLogo";
  src: url("../Thornblade-woZL8.ttf") format("truetype");
}

@font-face {
  font-family: "MyHeader";
  src: url("../GlofinDemoBlack-xRJVK.ttf") format("truetype");
}

.audioHeader {
  font-family: "Courier New", Courier, monospace;
  color: #00ff26;
  margin-top: 1em;
}

.audio-logo-text {
  color: hsl(119, 100%, 50%);
}

.audio-logo {
  position: absolute;
  top: 0;
  z-index: 10;
  text-align: center;
  width: 100%;
  font-family: "myLogo", sans-serif;
  font-size: xx-large;
}

.audio-wrapper {
  max-width: 2000px;
  margin: 0 auto;
  width: 100%;
}

.audio-text {
  color: hsl(119, 100%, 50%);
  font-family: "Courier New", Courier, monospace;
}

.audio-three-column-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
  gap: 2rem;
}

.audio-sidebar {
  width: 12em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.audio-account {
  width: 8em;
  margin-left: 4em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.audio-center-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 6em;
  text-align: center;
}

/* .home-button {
  background-color: hsl(116, 100%, 50%);
  color: black;
  cursor: pointer;
  border-radius: 10px;
  max-width: 5em;
}

.home-button:hover {
  background-color: #45a049;
} */

/* Menu on far left */
.audio-menu-l {
  flex-direction: column;
  flex-shrink: 0;
}

.audio-menu-l li {
  display: block;
  margin-bottom: 50%;
  text-align: center;
  width: 10em;
}

.audio-menu-l ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/*  MENU ON FAR RIGHT   */
.audio-menu {
  flex-direction: column;
  flex-shrink: 0;
}

.audio-menu li {
  display: block;
  margin-bottom: 50%;
  text-align: center;
  width: 10em;
}

.audio-center {
  padding: 5%;
  margin-right: 2em;
}

.audio-neu {
  background: hsl(0, 0%, 0%);
  border-radius: 20px;
  box-shadow: 8px 8px 16px #11ff00, -8px -8px 16px #1eff00;
  padding: 20px;
  transition: all 0.3s ease;
  color: hsl(119, 100%, 50%);
}

.audio-neu:hover {
  box-shadow: inset 8px 8px 16px #26ff00, inset -8px -8px 16px #00ff33;
}

.audio-li-header {
  color: hsl(116, 100%, 50%);
  margin-bottom: 10px;
  text-align: center;
}

.audio-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  max-width: 10em;
  margin: 0 auto;
}

.audio-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  width: 100%;
}
