@font-face {
  font-family: "MyLogo";
  src: url("../Thornblade-woZL8.ttf") format("truetype");
}

.home-logo {
  position: absolute;
  top: 0;
  z-index: 10;
  text-align: center;
  width: 100%;
  font-family: "myLogo", sans-serif;
  font-size: xx-large;
}

.home-wrapper {
  max-width: 2000px; /* or any width matching your center column */
  margin: 0 auto;
  width: 100%;
}

.home-logo-text {
  color: hsl(119, 100%, 50%);
}

.text {
  color: hsl(119, 100%, 50%);
  font-family: "Courier New", Courier, monospace;
}

.home-three-column-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
  gap: 2rem;
}

.home-sidebar {
  width: 12em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.home-account {
  width: 8em;
  margin-left: 4em;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.home-center-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 6em;
  text-align: center;
}

.home-comment-form {
  margin-bottom: 30px;
  text-align: center;
}

.home-button {
  background-color: hsl(116, 100%, 50%);
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.home-button:hover {
  background-color: #45a049;
}

/* Menu on far left */
.menu-l {
  flex-direction: column;
  flex-shrink: 0;
}

.menu-l li {
  display: block;
  margin-bottom: 50%;
  text-align: center;
  width: 10em;
}

.menu-l ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/*  MENU ON FAR RIGHT   */
.menu {
  flex-direction: column;
  flex-shrink: 0;
}

.menu li {
  display: block;
  margin-bottom: 50%;
  text-align: center;
  width: 10em;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.center {
  padding: 5%;
}

.neu {
  background: hsl(0, 0%, 0%);
  border-radius: 20px;
  box-shadow: 8px 8px 16px #11ff00, -8px -8px 16px #1eff00;
  padding: 20px;
  transition: all 0.3s ease;
  color: hsl(119, 100%, 50%);
}

.neu:hover {
  box-shadow: inset 8px 8px 16px #26ff00, inset -8px -8px 16px #00ff33;
}

.li-header {
  color: hsl(116, 100%, 50%);
  margin-bottom: 10px;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  max-width: 10em;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  width: 100%;
}

.text-centered {
  text-align: center;
  color: hsl(119, 100%, 50%);
  font-family: "Courier New", Courier, monospace;
}
